.Modal {
  width: 65%;
  height: auto;
  background-color: lightgrey;
  padding: 5px 20px 20px 20px;
  position: fixed;
  top: 18%;
  left: 16%;
  z-index: 10;

  border-radius: 10px;
  border: 1px solid grey;
}
