@import '../src/UtilsStyles.module.scss';

.Search {
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    & > button {
      background-color: green;
      color: white;
      margin-top: 5px;
    }
  }
}
