@import '../src/UtilsStyles.module.scss';

.App {
  background-color: #576f72;
  width: 80vw;
  min-height: 100vh;

  @media only screen and (max-width: $media_max_width) {
    width: 90vw;
  }

  &__section_row {
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    @include displayFlex(row, space-between);
    margin: 0 20px 0 20px;
    padding-top: 10px;

    @media only screen and (max-width: $media_max_width) {
      padding-top: 0;
    }

    & h2 {
      color: white;
      font-family: 'Courgette', sans-serif;
      font-size: xx-large;
      text-align: center;

      //SOURCE: https://codepen.io/hankh/pen/XdmWOz
      display: inline;
      background-image: linear-gradient(to right, firebrick, $color_highlight);
      background-size: 100% 15%;
      background-repeat: no-repeat;
      background-position: center bottom;
    }
  }

  &__section_row2 {
    @include displayFlex(row, space-between, center);
    margin: 0 100px 0 100px;
    color: white;
  }

  &__section_col {
    @include displayFlex(column, center, center);
    height: 20vh;
    font-size: xx-large;
    background-color: white;
    margin-top: 20px;
    padding: 20px;

    @media only screen and (max-width: $media_max_width) {
      font-size: x-large;
    }
  }
}
