@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #7d9d9c;
  display: flex;
  justify-content: center;
}
